@import url('https://fonts.googleapis.com/css?family=PT+Serif');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
	margin: 0px;
	height: 100%;
	background-image: url(img/background.jpg);
	background-size: 50%;
	background-repeat: repeat;
	background-color: black;
	font-family: 'PT Serif', serif;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

#window {
	position: absolute;
	left: 50%;
	margin-left: -25%;
	top: 36%;
	width: 50%;
	height: 50%;
	color: white;

}


#name {
	text-align: center;
}

#subname {
	margin: auto;
	margin-top: 1%;
	width: 37%;
	border-top: white solid 3px;
	border-bottom: white solid 3px;
	padding-top: 0.7%;
	padding-bottom: 0.7%;
	text-align: center;

}


#icon {
	margin: auto;
	margin-top: -2%;
	text-align: center;
	width: 10%;
	border-radius: 0px;
}

.material-icons {
	margin-top:30%;
	font-size: 3vw;
	cursor: pointer;
	opacity: 0.96;
}

.material-icons:hover {

	opacity: 1;
	
	
}


@media screen and (min-width: 1024px) {
	#name {
		font-size: 4vw;
	}

	#subname {
		font-size:1vw;
	}

	.material-icons {
		font-size: 3vw;
	}

}

@media screen and (max-width: 1023px) {
	
	#window {
		margin-left: 0px;
		left: 0px;
		width: 100%;

	}

	#name {
		font-size: 7vw;
	}

	#subname {
		font-size:2.7vw;
	}

	.material-icons {
		font-size: 7vw;
	}
}